body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('https://images.wallpaperscraft.ru/image/single/kuby_struktura_chernyj_120005_2560x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.baner{
    
    width: 310px;
	height: 620px;
	margin: 20px;
	margin-top: 17px;
	margin-bottom: 21px;
	padding-bottom: 20px
	color #11a01873;
	background-color: #595e5d00;
/* 	font-family: 'Climate Crisis', sans-serif;
        font-family: 'Noto Serif', serif; */
	font-family: cursive;
	border: 2px solid rgba(16, 248, 237, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 1px 3px  5px;
    
}



.baner:hover{
    background-image: url(https://images.wallpaperscraft.ru/image/single/figury_oskolki_grani_1191161_960x544.jpg);
    transform: scale(1.04);
    
}


.logo{
    width: 200px;
    height: 200px;
    display: inline-block;
	margin-bottom: 90px;
	align-items: center;
    border-radius: 200px;
    border: 9px solid rgba(18, 247, 247, 0.8);
	transition: transform 0.5s ease;
}

.logo:hover{
    border: 9px solid rgb(201, 28, 22);
    transform: scale(1.1);
}




/* .center-button {
    width: 350px;
	height: 680px;
	margin: 20px;
	margin-top: 17px;
	margin-bottom: 21px;
	padding-bottom: 20px
	color #11a01873;
	background-color: #57e7dbda;
	font-family: 'Climate Crisis', sans-serif;
    font-family: 'Noto Serif', serif;
	border: 2px solid rgba(77, 72, 72, 0.986);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.3s ease;
	box-shadow: 1px 3px  5px;

}
.center-button {
	transform: scale(1.01);
}
.center-button:hover {
    background-color: rgb(236, 141, 32);
} */



/* ----------------------------------------------------------------- */
.Post{
    display: block;
	margin: 5px;
	padding: 20px;
	margin-bottom: 60px;
	border: 1px solid rgba(18, 233, 240, 0.493);
	color:rgb(253, 253, 253);
    background-color: rgba(49, 53, 54, 0.466);
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
	transition: transform 0.3s ease;
	box-shadow: 1px 2px 5px;
}

.Post:hover{
    background-color: rgba(231, 128, 11, 0.247);
}


.Post2{
    display: block;
	margin: 5px;
    padding: 20px;
	border: 1px solid rgb(18, 233, 240);
	color:rgb(253, 253, 253);
    background-color: rgba(49, 53, 54, 0.466);
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.3s ease;
	box-shadow: 1px 2px 5px;
}

.Post2:hover{
    background-color: rgba(231, 128, 11, 0.247);
}
/* ----------------------------------------------------------------------------- */




@media (max-width: 600px) {
    
        
    

}




